---
title: Welcome to Middleman
---

<div class="logo">
  <div class='crown'>
    <h1 class="logo__x">
      <i>x</i>
      <i>x</i>
      <i>x</i>
    </h1>
    <h1 class="logo__crown">
      <i>|</i>
      <i>\</i>
      <i>/</i>
      <i>\</i>
      <i>/</i>
      <i>|</i>
    </h1>
  </div>
  <h1 class="logo__fk">
    <i class="logo__fk__f">FUNERAl</i>
    <i class="logo__fk__k">KiNGS</i>
    <i class="logo__fk__exclamation">!</i>
  </h1>
</div>
